*
!.gitignore
!Makefile
!*.h
!*.cpp
!*.hpp
!*.sh
!*.py
!*.html
!*.csv
!*.md
!lg200/
!lg200/ops/
!lg200/gpu/
!lg200/gpu/codec/
!lg200/gpu/codec/generated/
!lg200/gpu/generated/
!*.inc
!*.xml
!lg200-instructions.tsv
!lg200/generated_cases.tsv
