{% raw %}
<div id="app">

<div v-if="false">
  Loading... Please wait...
  <p></p>
</div>

<div v-cloak>

<b style="padding-top: 10px">Categories:</b>
<p></p>

<div v-for="group in allGroups">
  <input type="checkbox" :id="group" :value="group" v-model="groups" />
  <label :for="group" style="display: inline">{{ group }}</label>
</div>

<p></p>
<b style="padding-top: 10px">Instruction Set Extensions:</b>
<p></p>

<div v-for="extension in allExtensions">
  <input type="checkbox" :id="extension" :value="extension" v-model="extensions" />
  <label :for="extension" style="display: inline">{{ extension }}</label>
</div>

<p></p>
<b>Filter by content:</b>
<p></p>

<input v-model="search" placeholder="Search intrinsics using MiniSearch search syntax" style="width: 100%">

<p></p>
<p></p>

Found {{intrinsics.length}} intrinsics.

<p></p>
<p></p>
<p></p>
<details v-for="intrinsic in intrinsics.inner" v-show="intrinsic.display" style="margin-top: 5px;padding-left: 5px;border-top: 1px solid black;border-left: 5px solid black">
  <summary>{{ intrinsic.name }}</summary>
  <div v-html="intrinsic.content" style="padding: 10px"></div>
</details>

<p></p>
<p></p>

</div>
</div>

<script type="module">
  import { createApp, ref, computed, nextTick } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
  import MiniSearch from 'https://cdn.jsdelivr.net/npm/minisearch@6.3.0/dist/es/index.js';

  const allIntrinsics = {% endraw %} {{ all_intrinsics() }} {% raw %};

  let miniSearch = new MiniSearch({
    fields: ['name', 'markdown', 'group', 'extension'],
    storeFields: ['group', 'extension']
  });

  let docs = [];
  for (let i = 0;i < allIntrinsics.length;i++) {
    docs.push({
      id: i,
      ...allIntrinsics[i],
    });
  }
  miniSearch.addAll(docs);

  createApp({
    setup() {
      const urlParams = new URLSearchParams(window.location.search);
      let initialSearch = urlParams.get('q');
      if (initialSearch === null) {
        initialSearch = "";
      }
      const search = ref(initialSearch);

      const allGroups = {% endraw %} {{ all_groups() }} {% raw %};
      const allExtensions = ["LSX", "LASX"];
      const groups = ref(allGroups);
      const extensions = ref(allExtensions);

      const intrinsics = computed(() => {
        // update search to url
        // https://stackoverflow.com/questions/10970078/modifying-a-query-string-without-reloading-the-page
        const url = window.location.href;
        var r = new URL(url);
        r.searchParams.set('q', search.value);
        window.history.pushState({ path: r.href }, '', r.href);

        let length = 0;
        if (search.value === "") {
          for (let val of allIntrinsics) {
            if (!groups.value.includes(val.group)) {
              val.display = false;
            } else if (!extensions.value.includes(val.extension)) {
              val.display = false;
            } else {
              val.display = true;
              length = length + 1;
            }
          }
        } else {
          for (let val of allIntrinsics) {
            val.display = false;
          }

          let candidates = miniSearch.search(search.value, {
            prefix: true,
            fuzzy: 0.2
          });
          for (let val of candidates) {
            if (!groups.value.includes(val.group)) {
              continue;
            } else if (!extensions.value.includes(val.extension)) {
              continue;
            }
            allIntrinsics[val.id].display = true;
            length = length + 1;
          }
        }

        return {
          inner: allIntrinsics,
          length: length,
        };
      });

      return {
        intrinsics,
        search,
        groups,
        allGroups,
        extensions,
        allExtensions
      }
    }
  }).mount('#app')
</script>


{% endraw %}